.button {
  border-radius: 50px;
  padding: 0.4rem 1rem;
  background-color: var(--button-color);
  font-weight: bold;
  border-color: var(--border-color);
  color: var(--color-foreground);
}

.important {
  background-color: var(--important-color);
  color: black;
  border: none;
}

.danger {
  background-color: var(--danger-color);
  color: white;
  border: none;
}
