.navbar-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 100%;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
  align-items: center;
  padding: 0.5rem 0;
  z-index: 100;
  border-bottom: var(--border-color) 1px solid;
}

.logo-container {
  display: flex;
  align-items: center;
  color: var(--color-foreground);
  text-decoration: none;
  gap: 0.3rem;
}

.title-container h1 {
  margin: 0;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
}
.login-button-container button:hover {
  cursor: pointer;
}

.iconButton {
  border: none;
  background-color: var(--color-background);
}
