.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1px;
  color: white;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.logo-container img {
  height: 30px;
  margin-right: 10px;
}
.logo-container img:hover {
  cursor: pointer;
}
.title-container h1 {
  margin: 0;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: fit-content;
  margin-right: 30px;
}
.login-button-container button:hover {
  cursor: pointer;
}
