.searchContainer {
  display: flex;
  align-items: center;
  border: 2px solid var(--border-color);
  flex-grow: 1;
  margin: 0 2rem;
  border-radius: 50px;
  color: #333;
  background-color: var(--color-background);
  outline: none;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;
}

.input {
  padding: 10px 1px;
  background-color: var(--color-background);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  width: 100%;
  outline: none;
  height: 100%;
}
