.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7px;
  border-bottom: 1px solid black;
}

.header {
  font-size: 30px;
  flex: 1;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.input {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  margin-left: 10px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.pulldown {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.categoryList {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.categoryItem {
  display: grid;
  flex-shrink: 0;
  align-items: end;
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-size: cover;
  width: 400px;
  height: 200px;
}
