.commentInput {
  width: 100%;
  height: 100px;
  resize: none;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  margin-top: 7px;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--color-foreground);
  border: 1px solid var(--border-color);
  font-size: 16px;
  line-height: 1.5;
}
.main {
  max-width: 100%;
  width: 1280px;
  margin: 60px auto 0 auto;
}
.h2 {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  color: #333;
}
.body {
  margin: 0;
}

.mainComponent {
  display: flex;
  border-radius: 7px;
}
.destination {
  margin-right: 5px;
}

.commentSection {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.image {
  width: 100%;
  border-radius: 7px;
  height: 600px;
  object-fit: cover;
}
.comment {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  width: 100%;
}

.biggerText {
  font-size: 18px;
}
.main_descript {
  background-color: var(--secondary-color);
  border-radius: 7px;
}
.mark {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 5px;
}

.pin {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: black;
  padding-top: 8px;
  cursor: pointer;
}

.icon {
  width: 60px;
  height: 30px;
}
.averageRating {
  font-size: 25px;
  margin-left: 8px;
}
