.mark {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;

  }
  
  #pin {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: black;
    padding-top: 20px;
  }

  #icon {
    width: 60px; 
    height: 30px;
  }
/*   
  #destinationBtn p {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
  }
  
  #arrow {
    vertical-align: bottom;
    padding-bottom: 1%;
  }
  
  #destinationBtn a {
    color: inherit;
  } */ 