.main {
  max-width: 100%;
  width: 1280px;
  margin: 100px auto 0 auto;
}
body {
  margin: 0;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

:root {
  --color-foreground: black;
  --color-background: white;
  --secondary-color: #f5f5f5;
  --border-color: #e0e0e0;
  --button-color: #f2f2f2;
  --important-color: #34e0a1;
  --danger-color: #e21617;
}

[data-theme="dark"] {
  --color-foreground: white;
  --color-background: black;
  --secondary-color: #222222;
  --border-color: #505050;
  --button-color: #393939;
}

button,
input,
select {
  background-color: var(--secondary-color);
  color: var(--color-foreground);
  border: 1px solid var(--border-color);
  padding: 0.2rem;
  border-radius: 2px;
  transition: transform 0.2s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05); /* Gjør knappen 5% større */
}

button:active {
  transform: scale(0.95); /* Gjør knappen 5% mindre */
}
